@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist/statics-woff/Geist-UltraBlack.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
}

/* mono */

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono/statics-woff/GeistMono-UltraBlack.woff2') format('woff2');
    font-weight: 950;
    font-style: normal;
}
